.projectsTitle {
  text-transform: uppercase;
  margin-top: 80px;
  margin-bottom: 50px;
  text-align: center;
}

.projectsContainer {
    height: 400px;
  margin-bottom: 200px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.projectsContainer div.text-center.card {
  padding: 0;
  box-shadow: 10px 10px 8px #888888;
}

.projectsContainer .card-body {
  padding: 0;
}

.projectsContainer div.text-center.card {
  height: 370px;
}

.projectsContainer div.cardTitle.card-title.h5 {
  text-shadow: 3px 3px 0px #0a0a0a;
  color: white;
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/000/116/047/small/blue-chemical-formula-background.jpg");
  padding: 30px 0 50px 0;
  clip-path: polygon(
    0 0%,
    0% 0%,
    100% 0%,
    100% 4%,
    100% 77%,
    0% 100%,
    0% 100%,
    0 50%
  );
}

@media only screen and (max-width: 1199px) {
    .projectsContainer {
        height: 800px;
    }
}

@media only screen and (max-width: 640px) {
    .projectsContainer {
        height: 1000px;
    }
}

@media only screen and (max-width: 599px) {
    .projectsContainer {
        height: 2000px;
    }
}
