@import "../utils/style.scss";

.middleBg {
  @include background;
  clip-path: polygon(
    0% 5%,
    0% 20%,
    100% 0%,
    100% 5%,
    100% 100%,
    100% 100%,
    5% 100%,
    0 100%
  );
  background-image: url("https://image.freepik.com/free-vector/blue-neural-network-illustration_53876-78754.jpg");
  background-repeat: no-repeat;
  width: 80%;
  height: 500px;
  margin: 20px 100px 50px 100px;
}

.film {
  @include bgFilm;
}

.wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 120px;
  padding-left: 10px;
  padding-right: 10px;
}

@media only screen and (max-width: 1424px){ 
  .middleBg {
    height: 920px;
    .wrapper {
      padding-top: 190px;
    }
  }
}

@media only screen and (max-width: 640px){
  .bg {
    margin: 0;
  } 
  .middleBg {
    clip-path: 
    polygon(0% 5%, 0% 7%, 100% 0%, 100% 5%, 100% 100%, 100% 100%, 5% 100%, 0 100%);
    height: 1600px;
    width: 100%;
    margin: 0;
  }
  .wrapper {
    padding-top: 140px !important;
  }
  .card-columns .card {
    margin-top: 20px;
  }
 } /* Target Phone Exclusively */