@import "../utils/style.scss";

html {
  margin: 0;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.bg {
  @include background;
  clip-path: polygon(
    0 0%,
    0% 0%,
    100% 0%,
    100% 4%,
    100% 85%,
    0% 100%,
    0% 100%,
    0 50%
  );
  margin: 15px 20px 0 20px;
  background-image: url("./networkGif.gif");
  height: 650px;
 
}

.layer {
  @include bgFilm;
}

.logo {
  color: white;
  font-weight: bold;
  font-size: medium;
  margin-left: 10px;
}

.name {
  font-size: 3.5rem;
  text-transform: uppercase;
}

.headerText {
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #0c0c0c;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: large;
  color: #fafbfc;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.viewWorkBtn {
  border-radius: 25px;
}

.viewWorkBtn:hover, .viewWorkBtn:focus, .viewWorkBtn:active {
  -webkit-transform: scale(0.8);
  transform: scale(0.9);
}
