@import "../utils/style.scss";

.title {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
  transform: translate(-0%, -50%);
}

.introText {
  width: 50%;
  display: block;
  margin: 0 auto;
}
